html, body, .wrapper {
  height: 100%;
}

body {
  font: normal 16px helvetica, arial, sans-serif;
  color: #777;
}

.wrapper {  
  align-items: start;
  justify-items: center;
  display: grid; 
  grid-template-rows: 6.2rem 1fr 3rem;  
  grid-gap: .5rem;
}

.header {
   
  display: grid;
  align-self: stretch;
  align-items: center;
  margin: .5rem;
  justify-self: stretch;

  &__title {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 2rem;
    margin: 1rem 0;
  }

  &__menu {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    border-top: solid 0.1rem gray;
    padding: .4em 0;
    border-bottom: solid 0.1rem gray;

    li::after {
      content: "|";
      float: right;
      color: #777;
    }

    li:last-child::after {
      display: none;
    }

    a {
      padding: 0 .4rem;
      text-decoration: none;
      color: #777;
      font-size: .8rem; 
    }
  }
}

.footer {

  align-self: stretch;
  justify-self: stretch;
  display: grid;
  background-color: rgb(250, 250, 250);
  align-items: center;
  border-top: solid .1rem #eee;
  font-size: .8rem;
  padding: 1rem; 

}
